.btn-nav:link,
.btn-nav:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 10px;
    color: #fff;
    background-color: #377dff;
}
.btn-nav:hover,
.btn-nav:active {
    background-color: #214b99;
}
